// app/layout.styl

@import '../_variables'
@import '../_mixins'


// you styles here:
body
  background: white

.k-alt
  background: #ececec;

.comment-list > .row:nth-child(odd) {
  background-color: #f9f9f9;
  border-bottom: #e5e5e5 solid;
  border-top: #e5e5e5 solid;
}

table.table.table-striped tr.bg-success td {
    background-color:#dff0d8;
}