<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '692945770843019',
        xfbml      : true,
        version    : 'v2.4'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">OnTour.</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/events">events</a>
        </li>
        <li>
          <a href="/past-events">past events</a>
        </li>
        <li>
          <a href="/info">more info</a>
        </li>
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
      </ul>
    </div>
  </nav>
  <div class="container">
    <main data-hook="page-container"></main>
  </div>
</body>
