<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">OnTour.</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/events">events</a>
        </li>
        <li>
          <a href="/past-events">past events</a>
        </li>
        <li>
          <a href="/info">more info</a>
        </li>
        <li>
          {{#if model.fbId }}
          <a href="/profile/{{ model.id }}">{{ model.firstName }} {{ model.lastName }}</a>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <main data-hook="page-container"></main>
  </div>
</body>
