<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">OnTour.</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/events">events</a>
        </li>
        <li>
          <a href="/artists">artists</a>
        </li>
        <li>
          <a href="/venues">venues</a>
        </li>
        <li>
          <a href="/users">users</a>
        </li>
        <li>
          <a href="/past-events">past events</a>
        </li>
        <li>
          <a href="/pullArtistEvents">bulk insert artist events</a>
        </li>
        <li>
          <a href="/event/new">add new event</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <main data-hook="page-container"></main>
  </div>
</body>
