<tr>
  <td style="width: 10%"><img class="img-thumbnail" src="{{ model.picture }}" /> </td>
  <td>{{ model.name }}</td>
  <td>{{ model.website }}</td>
  <td><a href="/artists/{{ model.name }}">Details</a></td>
</tr>