<section class="page edit-event">
  <h2>Edit Artist</h2>

  <form data-hook="event-form">
    <fieldset data-hook="field-container">
    </fieldset>
    <div class="buttons">
      <button type="submit" class="button small" data-hook="submit">Submit</button>
    </div>
  </form>
</section>
