<section class="page edit-city">
  <h2>Edit City</h2>

  <form data-hook="event-form">
    <fieldset data-hook="field-container">
    </fieldset>
    <div class="buttons">
      <button type="submit" class="button small" data-hook="submit">Submit</button>
      <button data-hook="delete" type="delete" class="button small danger">Delete</button>
    </div>
  </form>
</section>
