<section class="page pageOne">
  <div class="lists">
  <div class="header-blocks events-header">
    <h2>Events</h2>
    <div data-hook="search-container"></div>
  </div>
  <div class="event-table">
    <table class="table table-striped" id="events">
      <thead>
        <tr>
          <th data-field="dateTime" id="dateTime">
            Date
          </th>
          <th data-field="status" id="status">
            Artists
          </th>
          <th data-field="location" id="location">
            Location
          </th>
          <th data-field="venue" id="venue">
            Venue
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody data-hook="event-list"></tbody>
    </table>
  </div>
</section>
