<section class="page home">
  <div class="row text-center">
    <h2>
      Let's get this show on the road.
    </h2>
  </div>
  <div class="row text-center">
    {{#if model._id }}
    Logged in as <a href="/users/{{ model._id }}">{{ model.first_name }} {{ model.last_name }}</a>
    {{else}}
    <a class="button" href="/login">login</a>
    {{/if}}
  </div>

  <form data-hook="post-form">
    <fieldset data-hook="field-container">
    </fieldset>
    <div class="buttons">
      <button type="submit" class="button small" data-hook="submit">Submit</button>
    </div>
  </form>
  <div class="row">
    <div data-hook="post-list"></div>
  </div>

</section>
