<section class="page pageOne">
  <div class="lists">
  <div class="header-blocks users-header row">
    <h2>Users</h2>
    <div data-hook="search-container"></div>
  </div>
  <div class="user-table">
    <table id="users">
      <thead>
        <tr>
          <th data-field="profileImage" id="profileImage">
            Image
          </th>
          <th data-field="firstName" id="firstName">
            First Name
          </th>
          <th data-field="lastName" id="lastName">
            Last Name
          </th>
          <th>
            Event Count
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody data-hook="user-list"></tbody>
    </table>
  </div>
</section>
